.uploader-div {
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-flow: column nowrap;

	justify-content: flex-start;
	/* align-items: center; 交叉轴对齐 */
}

.uploader-div > .title {
	padding-top: 7vh;
	flex: 0 0 auto;
}

.uploader-div > .inputFile-div {
	height: auto;
	flex: 0 0 auto;
}

.uploader-div > .textTip-div {
	flex: 1;
}

.uploader-div > .progress {
	margin-top: 35px;
	flex: 0 0 auto;
}

/***************************/
.inputFile1 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* justify-content: left; */
	width: 50%;
	margin: auto;
}
inputFile1 > .input1 {
	flex: 1 2 auto;
}
inputFile1 > .upload1 {
	flex: 1 1 auto;
	width: auto;
}
inputFile1 > .button1 {
	flex: 1 1 auto;
	width: auto;
}
/*****************************/

#textTip-id {
	width: 50%;
	margin: auto;
	white-space: nowrap;
}

.uploader-div > .textTip-div p {
	font-size: 16px;
	text-align: left;
}

.ant-upload-list {
	display: block;
	position: absolute;
	left: 25%;
	width: auto;
	margin-top: 10px;
}
